@import "../styles/_base.less";
@import "../styles/_mixins.less";

.air-loadmore {
    &-main {
        padding: 16rpx 0;
        text-align: center;
    }
    &-nodata {
        font-size: @size-font-small;
        color: @subsidiary-color;
    }
}